.homepage-banner {
  width: 99.9%;
  height: 700px;
}

.homepage-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-footer {
  display: flex;
  justify-content: center;
}

.banner-footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}
