<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<div class="navContainer">
  <div class="navbar">
    <nav>
        <div class="topnav">
            <a class="active" href="">Home</a>
            <a href="index/">Post index</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </nav>
  </div>
</div>

<div class="topnav">
    <a class="active" href="">Home</a>
    <a href="index/">Post index</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>