{% extends 'base.html' %}
{% load static %}

{% block title %}{{block.super}} - Home{% endblock title %}
{% include "includes/debug_warning.html" %}

{% block stylesheet %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock stylesheet %}

{% block content %}
<div class="homepage-banner">
    <img src="{% static 'media/banner.png' %}">
</div>
<div class="banner-footer">
    <p>Home of everything fly fishing and entomology</p>
</div>
{% endblock content %}