{% extends 'base.html' %}
{% load static %}

{% block title %}{{block.super}} - Post index{% endblock title %}

{% block stylesheet %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/post_index.css' %}" />
{% endblock stylesheet %}

{% block content %}
<h1>Post index</h1>

<div class='post-list'>
    <ul>
        {% for post in index %}
        <div class='post-line'>
            <li>{{post.username}}: {{post.title}} Posted at: {{post.created_at}}
            </div>
        {% endfor %}
    </ul>
</div>

<div class='submit-post-text'>
    <h4> Post something? <h4>
</div>
<a href="{% url 'new-post'%}">
<button class='create-post-button'>Create a new post</button>


{% endblock content %}