{% extends 'base.html' %}
{% load staff_filter %}

{% block title %}{{block.super}} - User Dashboard{% endblock title %}

{% block content %}
<h1>Welcome to your User Dashboard</h1>

<p> Username: {{user.username}}</p>

<p> Email: {{user.email}}</p>

<p> First name: {{user.first_name}}</p>

<p> Last name: {{user.last_name}}</p>

<p> Bio: {{user.bio}}</p>

<p> Staff member?: {{user.is_staff|staff_filter}}</p>

<p> Date joined: {{user.date_joined}}</p>

<p> Password: <a href='127.0.0.1:8000/pass-change/'> <button class='pass-change-button'>Change password?</button> </p>

{% endblock content %}